# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Database
database/*.db
instance/*.db

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Uploaded Files (optional)
static/uploads/*
!static/uploads/.gitkeep

database/*.db