.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:16px 32px;

    border:none;

    cursor:pointer;

    text-decoration:none;

    transition:var(--transition);

    border-radius:var(--radius-pill);

    font-weight:600;

}



.btn-primary{

    background:var(--primary);

    color:white;

}

.btn-primary:hover{

    background:var(--primary-dark);

    transform:translateY(-3px);

    box-shadow:var(--shadow);

}



.btn-secondary{

    border:2px solid var(--primary);

    color:var(--primary);

    background:white;

}

.btn-secondary:hover{

    background:var(--primary);

    color:white;

}