.container{
    width:min(92%, var(--container-width));
    margin:auto;
}

.section{
    padding:var(--space-2xl) 0;
}

.text-center{
    text-align:center;
}

.grid-2{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:50px;
    align-items:center;
}

.grid-3{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.grid-4{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.flex-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.flex-between{
    display:flex;
    justify-content:space-between;
    align-items:center;
}